.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  .header {
    height: 150px;
    border: 2px solid #ededed;
    display: flex;

    .divAncora {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: right;
      padding-right: 20px;
      padding-top: 15px;
    }
  }

  .menus {
    height: 45px;
    background-color: #ededed;

    .menu-list {
      display: flex;
      list-style: none;
      padding: 0px;
      margin: 0px;
      height: 45px;
      align-items: center;

      a {
        width: 100%;
        font: 80% Tahoma;
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        color: #00609b;
        text-transform: uppercase;
        padding-right: 25px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
