.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  .header {
    height: 150px;
    border: 2px solid #ededed;
    display: flex;
    border-top: 5px solid #04639c;

    .imgLogo {
      padding: 10px;
    }

    .divAncora {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: right;
      padding-right: 20px;
      padding-top: 15px;
    }
  }

  .menus {
    height: 45px;
    background: #04639c;

    .menu-list {
      display: flex;
      list-style: none;
      padding: 0px;
      margin: 0px;
      height: 45px;
      align-items: center;

      a {
        width: 100%;
        font: 80% Tahoma;
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        color: #ffffff;
        text-transform: uppercase;
        padding-right: 25px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .title-news {
    color: #1c659c;
    font-size: 22px;
  }

  .d-flex-box {
    display: flex;
  }

  .container-banner {
    position: relative;

    .text-animate {
      position: absolute;
      top: 0;
      left: 20px;
      font-size: 50px;
      color: #673AB7;
      background: white;
      padding: 10px;
      margin-top: 60px;
    }
  }

  .Footer {
    border-top: #1c659c solid 4px;
    padding: 3px;
    text-align: center;
  }
}
